body {
  margin-left: 50px;
  margin-right: 50px;
}

#contenido {
  display: flex;
	flex-direction: column;
}

#encabezado {
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  border-bottom: 2px solid;
  padding-bottom: .0em;
}

#menu div {
  float: right;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #02010a;
  color: white;
	margin: 30px;
  margin-top: 10px;
	width: 5%;
}

div #titulo{
  float: left;
  text-align: center;
	width: 20%;
}

#imgCentro {
  margin-top: -20px;
  background: #82c3a6;
  padding: 20px;
  text-align: center;
}
